.beer{
    max-height: 30vh;
    display: flex;
    border-bottom: grey 1px solid;
    padding: 1rem;
    .info{
        h1{
            font-weight: 200;
        }
        color: black;
        margin-left:1rem ;
        font-weight: 200;
    }
    img{
        width: 10%;
    }

}