nav{
    background-color: rgb(17, 120, 189);
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    
    img{
        width: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}