.Navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: lightgray;
    border-radius: 5px;
    margin-bottom: 5px;

    a{
        text-decoration: none;  
    }
}